.search {
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    border: none;
    width: 50%;
    padding: $space-xs;
    text-align: center;
    font-size: $font-l;
    border-bottom: 1px solid $dusty-gray;
  }

  button {
    margin: $space-m;
    padding: $space-s $space-m;
    font-size: $font-l;
    color: $white;
    background-color: $tundora;
    border: none;
    cursor: pointer;

    &:hover {
      color: $tundora;
      background-color: $white;
    }
  }

  .guessed-city {
    font-size: $font-l;
  }
}